@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 10px;
  background: url(../img/alquiler.jpg) top center / cover no-repeat;
  flex-direction: column;
  min-height: 100vh; 
  overflow: auto;
}

.servicios-label{
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  text-align: left;
  margin-left: -150px;
  margin-bottom: 30px;
}
.wrapper {
    max-width: 800px; 
    margin: 20 auto; 
    width: 100%;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    overflow-y: auto;
  }

  .input-field.file-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field.file-input label {
    margin-bottom: 5px;
}
.input-field.file-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-field.file-input .file-title {

  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}


.input-field {
  position: relative;
  border-bottom: 2px solid #fff;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
  font-weight: 300;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
  font-weight: 300;
  font-size: 14px;
}


.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #fff;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
    background: #fff;
    color: #000;
    font-weight:600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}
button[type="submit"] {
  font-weight: 900;
}


button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
  font-size: 15px;
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
    form {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      gap: 20px; 
    }
    .input-field {
      width: 100%; 
    }
    .input-field:nth-child(odd) {
      margin-right: 10px; 
    }
  
    .input-field:nth-child(even) {
      margin-left: 10px; /
    }

    button {
      grid-column: span 2;
      justify-self: center; 
    }
    .input-field.file-input .file-title {

        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: #fff;
        font-size: 16px;
        pointer-events: none;
        transition: 0.15s ease;
        text-align: left;
        margin-bottom: 5px;
        margin-right: 200px;
        font-weight: 200;
      }
      
  }

  

  @media (max-width: 768px) {
    body {
      overflow-y: hidden; 
    }
  
  
    .servicios-label {
      margin-left: -35px; 
      text-align: center; 
      margin-bottom: 20px;
      margin-top: 15px;
    }
  
  
  
  body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/alquiler.jpg) top center / cover no-repeat;
    background-position: center;
    background-size: cover;
  }
  .wrapper {
    max-width: 800px;
    margin: 20px auto;
    width: 100%;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: auto;
  }
  .input-field.file-input .file-title {
    text-align: left; 
    margin-bottom: 5px;
    margin-right: 70px;
    font-weight: 200;
  }
}